.content-manager{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    
    
}

.content-manager button{
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    
}