.cv-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.main-cv{
    background-color: #fff;
    width: 8.27in;
    height: 11.69in;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    

}

@media (max-width:1300px) {
    .cv-container{
        width: auto;
        
    }
    .main-cv{
        
        scale: 0.7;
    }
}