.personal-info{
    font-family: var(--font-fam-outfit);
    background-color: var(--neutral-colour);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 3rem 1.5rem;
    gap: 1.5rem;
      
    

}

.personal-info h2{
    color: var(--primary-colour);
}

