@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Outfit&family=Poppins&family=Roboto:wght@300&family=Rubik&family=Rubik+Iso&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --neutral-colour: #F3F3F3;
    --primary-colour: #F72585;
    --brand-colour: #cfa0ee;
    --input-label-colour: #7209B7;

    --cv-personal-colour: rgb(40, 33, 134);

    --font-fam-outfit: 'Outfit', sans-serif;

    --font-fam-cv-personal: 'Poppins', sans-serif;

    --font-fam-cv-content: 'Rubik', sans-serif;


}

.app{
    display: flex;
    justify-content: space-between;
    
}

@media print{
    .edit{
        display: none;
    }
    .cv-container{
        width: auto;
        display: block;
        padding: 0;
    }
    .main-cv{
        box-shadow: none;
        scale: 1;
    }
}

@media (max-width:1000px) {
    .app{
        flex-wrap: wrap;
    }
}
